doctype html
head
	meta(http-equiv="X-UA-Compatible" content="IE=edge,chrome=1")
	meta(charset="UTF-8")
	title="MarvinL.com"
	meta(name="description" content="Ingénieur M2 − Développeur / Entrepreneur guadeloupéen. De la simple idée au projet lucratif, discutons-en et c'est parti!")
	meta(name="author" content="MarvinL.com")
	meta(name="robots" content="index, follow")
	meta(name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no")
	meta(meta name="Keywords" content="guadeloupe, web, freelance, e-commerce, e-commerce guadeloupe, site, wordpress, html, projet, application, android, ios, webapp, plateforme, site,ui/ux, ux, web, internet, shopify, prestashop, theme, développeur ui,développeur web,  développeur web freelance, développeur web full stack, money, argent, prestataire, service, autoentrepreneur, entreprise, association")
	meta(property="og:title" content="MarvinL.com")
	meta(property="og:url" content="http://marvinl.com")
	meta(property="business:contact_data:locality" content="Les Abymes")
	meta(property="business:contact_data:region" content="Guadeloupe")
	meta(property="business:contact_data:postal_code" content="97139")
	meta(property="business:contact_data:country_name" content="Guadeloupe")
	meta(name="twitter:card" content="summary")
	meta(name="twitter:site" content="http://marvinL.com")
	meta(name="twitter:title" content="MarvinL.com - Développeur Freelance")
	meta(name="twitter:description" content="Ingénieur M2 − Développeur / Entrepreneur guadeloupéen. Création de Site internet, Applications et autre créations numériques.")
	script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js")
		script(src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js" integrity="sha384-b/U6ypiBEHpOf/4+1nzFpr53nxSS+GLCkfwBdFNTxtclqqenISfwAzpKaMNFNmj4" crossorigin="anonymous")
		script( src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous")
		script(src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.5/esm/popper.min.js")
		script(src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/js/bootstrap.min.js" integrity="sha384-h0AbiXch4ZDo7tp9hKZ4TsHbi047NrKGLO3SEJAg45jXxnGIfYzk4Si90RDIqNm1" crossorigin="anonymous")
		script(src="js/jquery.scrollify.min.js")
		script(src="js/bigtext.js")
		script(src="js/jquery.lettering.js")
		script(src="js/main.js")
	link(rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous")
	link(href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css", rel="stylesheet", integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN", crossorigin="anonymous")
	link(rel="stylesheet" href="./css/animate.css")
	link(rel="stylesheet" href="./css/main.css")
body
	script.
		(function (i, s, o, g, r, a, m) {
			i['GoogleAnalyticsObject'] = r;
			i[r] = i[r] || function () {
				(i[r].q = i[r].q || []).push(arguments)
			}, i[r].l = 1 * new Date();
			a = s.createElement(o), m = s.getElementsByTagName(o)[0];
			a.async = 1;
			a.src = g;
			m.parentNode.insertBefore(a, m)
		})(window, document, 'script', 'https://www.google-analytics.com/analytics.js', 'ga');
		ga('create', 'UA-47717247-1', 'auto');
		ga('send', 'pageview');